.list-boundary {
  display: flex;
  justify-content: center;
}

.games-list {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  list-style-type: none;
  padding: 0;
  margin-top: 8rem;
}

.game-list-button {
  margin-top: 0.3rem;
  color: white;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.game-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15rem;
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.322);
}

.recipe-img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-radius: 4px;
  border: 1px solid grey;
  margin-bottom: 1rem
}

.game-name {
  display: flex;
  gap: 2rem;
  flex-grow: 1;
  color: white;
}

.game-name h3 {
  margin: auto 0 0 0;
}

.game-text {
  display: flex;
  gap: 2rem;
  flex-grow: 1;
  color: white;
}

.game-text p {
  margin-top: auto;
}

/* RGB BUTTONS */

.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #000000;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #FF5C00;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

/* MOBILE RESPONSIVENESS*/

@media (max-width: 460px) {

  .games-list {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-top: 6rem;
  }

  .game-item {
    width: 90%;
    padding: 0.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .game-genre{
    display: none;
  }

  .game-item p {
    width: 2rem;
    height: auto;
  }

  .recipe-img {
    width: 85%;
    height: auto;
    margin-top: 1.5rem;

  }

  .game-name,
  .game-text {
    flex-direction: column;
    align-items: center;
    margin: 0.5rem 0 0 0;
    gap: 0rem;
    color: white;
    text-align: center;
  }

  .glow-on-hover {
    width: 180px;
    height: 40px;
    margin-bottom: 1rem
  }
}