body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }
  

  .about-container h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  

  .about-container p {
    font-size: 1.2rem;
    max-width: 600px;
    margin: 10px auto;
    color: #555;
  }
  

  .about-container h2 {
    margin-top: 20px;
    font-size: 1.8rem;
    color: #333;
  }
  

  .profile-container {
    display: flex;
    gap: 40px;
    margin-top: 15px;
  }
  
  .profile-container div h3 {
    font-size: 1.4rem;
    color: #333;
  }

  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  

  .profile h3 {
    font-size: 1.4rem;
    color: #333;
    margin-bottom: 10px;
  }
  

  .profile-image {
    width: 150px; 
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }