nav{
  display: flex;
  flex-direction: row;
}

nav h1{
  margin: 0;
}

.navbar {
  display: flex;
  align-items: center; 
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(0, 0, 0);
  padding: 0 1rem;
  z-index: 1000;
}

.navbar input{
  border-radius: 10px;
  width: 15rem;
  padding: 0.5rem
}

.search-bar{
  display: flex;
  position: relative;
  justify-content: center;
}



.search-container{
  display: flex;
  flex: 1;
  justify-content: center;
}

.logo-container {
  flex: 0 0 auto;
}

.title-container { 
  display:flex;
  flex: 0 0 auto;
  margin-left: 1rem;
}

.logo-container img {
  width: 5rem; 
  height: auto; 
}


.title-container h1 {
  font-family: "Jersey 10", sans-serif;
  font-size: 3rem;
  font-weight: 100;
  color: white;
}

.home-buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: auto;
    flex: 0 0 auto;
  }
  
  .home-button {
    text-decoration: none;
    color: white;
    background-color: #FF5C00;
    border-radius: 10px;
    font-size: 0.85rem;
    font-weight: 500;
    margin-right: 1rem;
    transition: background-color 0.3s ease, transform 0.1s ease;
  }
  
  .home-button:hover {
    background-color: #ffffff;
    transform: scale(1.03);
  }

  @media (max-width: 460px) {

    .navbar h1{
      display: none
    }
  }