:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.jersey-10-regular {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h3 {
  font-family: "Jersey 10", sans-serif;
  font-weight: 100;
  font-size: 2rem;
}

h2 {
  font-family: "Jersey 10", sans-serif;
  font-weight: 100;
  font-size: 2rem;
}

.app{
  display:flex;
  flex-direction:column;
  min-height: 80vh;
}

.content{
  flex: 1;
}


a {
  font-weight: 500;
  color: #006eff;
  text-decoration: inherit;
}
a:hover {
  color: #02398d;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  height: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.footer{
 margin-top: auto;
  
  
}



