body.home-page-background {
  background-image: url('https://img.freepik.com/free-vector/abstract-pixel-rain-background_23-2148388106.jpg?t=st=1730911387~exp=1730914987~hmac=5a30e01a55ddad9c87d303ae1eb5cbb0ec904d3d63bea8fe7fb52ed0b5491e4e&w=1380');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 0;
  min-height: 100vh;
  color: white;
}

.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    text-align: center;
    margin-top: 8rem;
  }
  
  .home-header {
    margin-bottom: 2rem;
  }
  
  .home-header h1 {
    font-size: 2.5rem;
    color: white;
  }
  
  .home-header p {
    font-size: 1.2rem;
    color: white;
  }
  
  .home-buttons {
    display: flex;
    gap: 1rem;
  }
  
  .home-button {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    color: white;
    background-color: #007BFF;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .home-button:hover {
    background-color: #0056b3;
  }