.GameDetailsPage {
    display: inline-flex;
    flex-direction: column;
}

.game-details-card {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

.comment{
    background-color: white;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 1rem;
  }
  

.game-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 3px solid black;
    border-radius: 10px;
    margin-bottom: 3rem;
    margin-top: 6rem;
    background-color: rgba(106, 106, 196, 0.226);
    padding: 3rem;
}

.game-dtext {
    width: 30rem;
    padding-bottom: 5rem;
    background-color: white;
    border: 1px solid black;
}

.game-dimg img {
    margin: 2rem;
    width: 20rem;
    border: 3px solid rgb(0, 0, 0);

}

#back-button {
    width: 14rem;
    margin-right: 20rem
}

.review-item {
    border-radius: 10px;
    padding: 2rem;
    border: 3px solid rgb(0, 0, 0);
    background-color: rgba(106, 106, 196, 0.226);
    margin: 1rem;
    transition: border-left 300ms ease-in-out, padding-left 300ms ease-in-out;
}

.review-item:hover {
    padding-left: 0.5rem;
    border-left: 0.5rem solid #0051ff86;
}

.review-item button {
    margin: 1rem 1rem 0 1rem
}

.review-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between
}

.details-score {
    margin-right: 3rem;
}

.details-user-name {
    margin-left: 3rem;
}

