body.game-details-page-background {

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 0;
}

.GameDetailsPage {
  display: inline-flex;
  flex-direction: column;
}

.game-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 3rem;
  margin-top: 1rem;
  padding: 3rem;
}

.game-details-card {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.game-dtext {
  width: auto;
  padding-bottom: 5rem;
  background-color: rgba(0, 0, 0, 0.486);
  border: 3px solid rgb(0, 0, 0);
  border-radius: 10px;
  padding: 0 2rem 5rem 2rem;
  color: white
}

.game-dimg img {
  margin: 2rem;
  width: 20rem;
  border: 3px solid rgb(0, 0, 0);
}

#back-button {
  width: 14rem;
  margin-right: 20rem;
}

.review-item {
  border-radius: 10px;
  padding: 1rem;
  border: 3px solid rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.486);
  margin: 1rem;
  transition: border-left 300ms ease-in-out, padding-left 300ms ease-in-out;
}

.review-item button {
  margin: 1rem 1rem 0 1rem;
  width: 7rem;
}

.review-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.review-list {
  margin-top: 2rem;
  border-radius: 10px;
}

.review-list h2 {
  color: white;
  font-size: 3rem;
}

.review-list h3 {
  color: white;
  margin: 0;
  width: auto
}

/* USER REVIEW CONTENT */

.details-score {
  margin-right: 3rem;
}

.review-user-score {
  height: auto;
  border-radius: 100%;
  width: 3rem;
}

.details-user-name {
  margin-left: 3rem;
}

.comment {
  background-color: rgb(255, 255, 255);
  border: 1px solid grey;
  border-radius: 10px;
  padding: 1rem;
}

.no-reviews {
  color: white;
}

/* SCORE CONDITIONAL CLASS */

.score-red {
  background-color: #ff4d4d;
  padding: 0.5rem;
  border-radius: 100%
}

.score-yellow {
  background-color: #ffbb00;
  padding: 0.5rem;
  border-radius: 100%
}

.score-green {
  background-color: #66cc66;
  padding: 0.5rem;
  border-radius: 100%
}

/* RESPONSIVENESS MOBILE */


@media (max-width: 460px) {
  .game-content {
    flex-direction: column;
    padding: 1.5rem;
    margin: 0 0 1rem 0;
  }

  .comment {
    margin: 0;
  }

  .game-dtext {
    width: auto;
    padding: 1rem;
  }

  .game-dtext h2 {
    font-size: 2rem;
    margin: 0
  }

  .game-dtext h3 {
    margin-top: 0;
    font-size: 1rem;
  }


  .game-dimg img {
    width: 90%;
    margin: 0.5rem auto;
  }

  #back-button {
    width: 67%;
    margin: 1rem 0;
  }

  .review-item {
    padding: 0 1rem 1rem 1rem;
    margin: 1.5rem 0;
  }


  .review-header {
    flex-direction: column;
    
    align-items: center;
  }

  .details-score,
  .details-user-name {
    margin: 0;
    
  }
}