body {
    background-color: #010453;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0;
}


.not-found-body {
    color: white;
    margin-top: 7rem;
}

.not-found-body p {
    margin: 0;
}

.not-found-body img {
    width: 30rem;
}

@media (max-width: 460px) {
    .not-found-body{
    padding: 1rem;
    margin-top: 3rem;
    width: 90%;
    height: auto;
    }
    .not-found-body img{
        width: 80%;
        margin-bottom: 1rem;
    }
}
