body {
    background-image: url("https://img.freepik.com/free-vector/abstract-pixel-rain-background_23-2148388106.jpg?t=st=1730987092~exp=1730990692~hmac=5acf5320bc1cb833759ff5ea389c154498a74e3343630050b291e38f0dd6f7f5&w=1380");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0;
}


.not-found-body {
    color: white;
    margin-top: 7rem;
}

.not-found-body p {
    margin: 0;
}

.not-found-body img {
    width: 30rem;
}

@media (max-width: 460px) {
    .not-found-body{
    padding: 1rem;
    margin-top: 3rem;
    width: 90%;
    height: auto;
    }
    .not-found-body img{
        width: 80%;
        margin-bottom: 1rem;
    }
}
